<div class="text-details">
    <div class="text-headline">
        <h1 class="headline">Detalhes do Produto</h1>
        <h1 class="second-headline">Características do Produto</h1>
    </div>
    <div class="text-content">
        <p> O nosso modelo de vestido Intense com certeza é a tendência do momento! Com um corte justo no corpo, ele
            realça
            suas curvas de forma leve e sensual. Feito com uma combinação de tecidos de alta qualidade, incluindo lycra,
            poliéster e algodão, o vestido Intense proporciona um conforto excepcional. O design sem estampa adiciona um
            toque minimalista e versátil ao seu look, perfeito para ocasiões casuais. Seja para um encontro descontraído
            ou
            uma tarde entre amigos, este vestido é a escolha certa para um estilo sensual e sofisticado ao mesmo tempo.
        </p>
    </div>
</div>