.size-selector {
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

.size {
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid #0c1b33;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c1b33;
  font-size: 16px;
  font-weight: 300;
  transition: border-width 0.1s;
}

.size:hover {
  cursor: pointer;
  color: #7a306c;
  border-color: #7a306c;
}

.size:focus,
.size:active {
  font-weight: 500;
  color: #7a306c;
  border-color: #7a306c;
}

.size.selected {
  width: 2.2rem;
  height: 2.2rem;
  font-weight: 600;
  color: #7a306c;
  border-color: #7a306c;
  border: 2px solid #7a306c;
}
