.carousel-items {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 1.5rem 0.7rem;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    width: 16.463rem;
    height: 21.25rem;
}

.product-title {
    font-size: 16px;
    font-weight: 400;
    color: #0C1B33;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}

.old-price {
    font-size: 12px;
    font-weight: 500;
    color: #9C9C9C;
    text-decoration: line-through;
    align-self: center;
}

.new-price {
    font-size: 16px;
    font-weight: 500;
    color: #0C1B33;
    align-self: center;
}

.prices {
    display: flex;
    gap: 8px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.seta-esquerda,
.seta-direita {
    width: 1.5rem;
    height: 1.5rem;
    padding: 9.9rem 0;
}