.title {
    font-weight: 400;
    font-size: 24px;
    color: #0C1B33;
    /* border-bottom: 1px solid #7A306C; */
}

.title::after {
    border-bottom: 1px solid #7A306C;
    position: relative;
    top: 10%;
    right: -80%;
    content: '';
    display: block;
    width: 20%;
}

.other-products {
    text-align: center;
    display: flex;
    justify-content: center;
}