.title {
  font-weight: 400;
  font-size: 24px;
  color: #0c1b33;
  width: fit-content;
  /* border-bottom: 1px solid #7A306C; */
}

.title::after {
  border-bottom: 1px solid #7a306c;
  position: relative;
  top: 10%;
  right: -80%;
  content: "";
  display: block;
  width: 20%;
}

.other-products {
  padding-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
